/*========================= tablediv ==========================   border-bottom: 0.5px solid gray;*/

.tablediv {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex: 1;

  margin-left: 15px;
  margin-right: 15px;
}

.tablediv > table {
  border-collapse: collapse;
}

.tablediv > table > tbody > tr > th {
  padding: 15px;
  border-radius: 6px;
  text-align: left;
  background-color: #f2f2f2;
  font-size: 0.9rem;
}
.tablediv > table > tbody > tr > td {
  text-align: left;
  padding: 15px;

  font-size: 0.8rem;
}

.tablediv > table > tbody > tr:hover > td {
  background-color: #f2f2f2;
  cursor: pointer;
}

/*  border-bottom: 0.5px solid #f2f2f2;*/
