.buttoncss {
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  align-items: center;
  justify-content: center;
  color: white;
  flex: 1;
  padding: 8px;
  font-weight: bold;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.buttoncss:active {
  transform: scale(0.95);
}
