.maincontainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  gap: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

/*
  border-radius: 6px;
  border: 0.5px solid gray;
    padding: 45px;
*/
.headingcontainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 13px;
}

.headingcontainer > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.headingcontainer > div > img {
  width: 45px;
  height: 45px;
}
.headingcontainer > div > h1 {
  font-size: 2.1rem;
}

.headingcontainer > p {
  font-size: 1rem;

  color: #878787;
}

.inputcontainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.inputcontainer > p {
  font-weight: bold;
  font-size: 1rem;
}

.inputcontainer > input {
  padding: 8px;
  outline: none;
  border-radius: 6px;
  border: 0.5px solid gray;
}

.btn {
  background-color: black;
  color: white;
  font-size: 0.8rem;
  border-radius: 6px;
  padding: 10px;
  font-weight: bold;
  border: none;
}
/*
.btn:hover {
      background-color: white;
  border: 0.5px solid black;
  color: black;
}


*/
.btn:active {
  transform: scale(0.95);
}

.tos {
  font-size: 0.9rem;
}

.tos > b {
  color: #0577e0;
}

.btnandtxt {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
